@inherits LayoutComponentBase

<div class="page">


    <main>
            <div class="top-row px-4">
                <a href="/" target="_self">Home</a>
                 <a href="/sorteio" target="_self">Sorteio</a>
                </div>

        <article class="content font-monospace px-4">
            @Body
        </article>
    </main>

</div>
<footer class="text-center">
    CopyRight &copy;@DateTime.Now.Year - Blazor-Sorteio
</footer>
